h1 {
    font-size: 40px;
    text-align: center;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    color: #a6e3a1;
    /*color: #303446;*/
}

p {
    text-align: center;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    color: #a6e3a1;
}

.btn {
    margin-right: 10px;
}

nav, .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #303446; !important;
    color: white; !important;
}

.navbar-brand, .nav-link, .navbar-nav{
    font-family: Consolas, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #303446; !important;
    color: white; !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #24273a;
}

.btn.btn-primary {
    background-color: #a6e3a1 !important;
}

.card-body {
    color: #303446;
}

.container-fluid {
    text-align: center;
}

