<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/default-stylesheet.css">
  <title>Create Module</title>
</head>
<body>
  <div class="container text-center">
    <h2>Please fill in the form to create a new module</h2>
    <form th:action="@{/modules/create/{projectID}(projectID=${projectID})}" method="post">
      <div class="form-group">
        <label class="text-center">Module Name</label>
        <input type="text" th:field="*{moduleForm.moduleName}" th:placeholder="ModuleName" required/>
      </div>
      <div class="form-group">
        <label class="text-center">Deadline</label>
        <input type="date" th:field="*{moduleForm.deadline}" th:attr="min=${now}" th:max="${project.getDeadline()}" th:placeholder="YYYY-MM-DD" required/>
      </div>
      <div class="form-group">
        <label class="text-center">Module time estimate</label>
        <input type="number" th:field="*{moduleForm.timeEstimate}" th:placeholder="Duration" required/>
      </div>
      <div class="form-group">
        <button type="submit" >Create module</button>
      </div>
    </form>
    <div class="card">
      <a class = "btn btn-secondary" th:href="@{/projects/{userID}(userID=${session.user.userID})}">Go Back</a>
    </div>
  </div>
</body>
</html>