<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/default-stylesheet.css">
  <title>Update Module</title>
</head>
<body>
<div class="container text-center" th:with="projectID=${moduleForm.getProjectID()}, moduleID=${moduleForm.getModuleID()}">
  <h2>Please fill in the form to update the module</h2>
  <form th:action="@{/modules/update/{projectID}/{moduleID}(projectID=${projectID},moduleID=${moduleForm.getModuleID()})}" method="post">
    <div class="form-group">
      <label class="text-center">Module name</label>
      <input type="text" th:field="*{moduleForm.moduleName}" th:placeholder="ModuleName" required/>
    </div>
    <div class="form-group">
      <label class="text-center">Deadline</label>
      <input type="date" th:field="*{moduleForm.deadline}" th:placeholder="YYYY-MM-DD" required/>
    </div>
    <div class="form-group">
      <label class="text-center">Status</label>
      <select th:field="*{moduleForm.Status}">
        <option th:each="setstatus : ${T(com.example.eksamensprojekt.models.Module.Status).values()}"
        th:value="${setstatus}"
        th:text="${setstatus}">
        </option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" >Update module</button>
    </div>
  </form>
  <div class="card">
    <a class = "btn btn-secondary" th:href="@{/modules/{projectID}(projectID=${projectID})}">Go Back</a>
  </div>
</div>
</body>
</html>