<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/default-stylesheet.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <title>My Projects</title>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg header">
    <a class="navbar-brand" th:href="@{/}">Project Management Tool</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-danger" th:href="@{/logout}">Log out</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-secondary" th:href="@{/signup}">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container text-center">
  <div class="container my-lg-5">
    <h1>Table of projects</h1>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>Project name</th>
      <th>Project creator name</th>
      <th>Deadline</th>
      <th>Time left until deadline</th>
      <th>Project's total time estimate</th>
      <th>Actions</th>
    </tr>
    <tbody>
    <th:block th:each="project : ${projects}">
      <tr>
        <td>[[${project.getProjectName}]]</td>
        <td>[[${project.getProjectCreator()}]]</td>
        <td>[[${project.getDeadline}]]</td>
        <td>[[${project.getTimePeriod()}]]</td>
        <td>[[${project.getTimeEstimate()}]] hours</td>
        <td>
          <div class="btn-group " th:if="${session.user.getRole() == session.user.role.MANAGER || session.user.getRole() == session.user.role.ADMIN}">
            <a type="button" class="btn btn-primary btn-sm" th:href="@{/modules/{projectID}(projectID=${project.getProjectID()})}"><i class="bi bi-eye-fill"></i> View Project</a>
            <a type="button" class="btn btn-success btn-sm" th:href="@{/projects/update/{projectID}(projectID=${project.getProjectID()})}"><i class="bi bi-pencil-square"></i> Update Project</a>
            <a type="button" class="btn btn-danger btn-sm" th:href="@{/projects/delete/{projectID}(projectID=${project.getProjectID()})}" ><i class="bi bi-trash-fill"></i> Delete Project</a>
          </div>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
  <div class = "p-2">
    <a class = "btn btn-primary" th:if="${session.user.getRole() == session.user.role.MANAGER || session.user.getRole() == session.user.role.ADMIN}" th:href="@{/projects/create/{userID}(userID=${session.user.userID})}">Create Project</a>
    <a class = "btn btn-secondary" th:href="@{/profile((userID=${session.user.userID}))}">Go Back</a>
  </div>
</div>

</body>
</html>