<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/default-stylesheet.css">
  <title>My Projects</title>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg header">
    <a class="navbar-brand" th:href="@{/}">Project Management Tool</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-danger" th:href="@{/logout}">Log out</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-secondary" th:href="@{/signup}">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container text-center">
  <div class="container my-lg-5">
    <h1>List of modules</h1>
  </div>
    <table class="table table-bordered">
      <tr>
        <th>Module name</th>
        <th>Module assigned to</th>
        <th>Module status</th>
        <th>Deadline</th>
        <th>Time left until deadline</th>
        <th>Time estimate</th>
        <th>Actions</th>
      </tr>
      <tbody>
      <th:block th:each="module : ${modules}">
        <tr>
          <td>[[${module.getModuleName()}]]</td>
          <td>[[${module.getAssignUser()}]]</td>
          <td>[[${module.getStatus()}]]</td>
          <td>[[${module.getDeadline()}]]</td>
          <td>[[${module.getTimePeriod()}]]</td>
          <td>[[${module.getTimeEstimate()}]] hours</td>
          <td th:with="projectID=${module.getProjectID()}, moduleID=${module.getModuleID()}">
            <div class="btn-group">
              <a type="button" class="btn btn-primary" th:if="${session.user.getRole() == session.user.role.MANAGER || session.user.getRole() == session.user.role.ADMIN}" th:href="@{/modules/assign/{projectID}/{moduleID}(projectID=${projectID},moduleID=${moduleID})}"><i class="bi bi-eye-fill"></i> Assign employee to module</a>
              <a type="button" class="btn btn-primary" th:if="${session.user.getRole() == session.user.role.EMPLOYEE}" th:href="@{/modules/assignself/{projectID}/{moduleID}(projectID=${projectID},moduleID=${moduleID})}"><i class="bi bi-eye-fill"></i> Assign yourself to module</a>
              <a type="button" class="btn btn-success" th:href="@{/modules/update/{projectID}/{moduleID}(projectID=${projectID},moduleID=${moduleID})}"><i class="bi bi-pencil-square"></i> Update Module</a>
              <a type="button" class="btn btn-danger" th:href="@{/modules/delete/{projectID}/{moduleID}(projectID=${projectID},moduleID=${moduleID})}"><i class="bi bi-trash-fill"></i> Delete Module</a>
            </div>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
    <div class = "p-2">
      <a class = "btn btn-primary" th:href="@{/modules/create/{projectID}(projectID=${projectID})}">Create Module</a>
      <a class = "btn btn-secondary" th:href="@{/projects/{userID}((userID=${session.user.userID}))}">Go Back</a>
    </div>
</div>

</body>
</html>